<h1>My todo list</h1>
<p>{{request.user}}</p>
{% if request.user.is_authenticated %}

<form method="POST" action="{% url 'logout' %}">
  {% csrf_token %}
  <input type="submit" value="logout" />
</form>
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}
<hr />

<a href="{% url 'create' %}">Add Task</a>
{% for task in Tasks %}
<table>
  <td>{{task.title}}</td>
  <td><a href="{% url 'task' task.id %}">View</a></td>
  <td><a href="{% url 'update' task.id %}">Update</a></td>
  <td><a href="{% url 'delete' task.id %}">Delete</a></td>
</table>
{%empty%}
<h2>No items in the list</h2>
{%endfor%}
